[submodule "Assets/Resources"]
	path = Assets/Resources
	url = https://github.com/UWB-ARSandbox/Resources
[submodule "Assets/UWB/ASL"]
	path = Assets/UWB/ASL
	url = https://github.com/UWB-ARSandbox/ASL
